.active{
    background-color: aliceblue !important;
}

.menu-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 3em;
    background-color: deepskyblue;
    border: 1px solid blue;
    margin-bottom: 10px;
}

.menu-1 div{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 5px;
    padding-left: 5px;
}

.menu-2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 3em;
    background-color: deepskyblue;
    border: 1px solid blue;
    margin-bottom: 10px;
}
.menu-2 div{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 5px;
    padding-left: 5px;
}

.menu-3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 3em;
    background-color: deepskyblue;
    border: 1px solid blue;
    margin-bottom: 10px;
}

.menu-3 div{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 5px;
    padding-left: 5px;
}

.menu-4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    width: 1200px;
    height: 5em;
    background-color: deepskyblue;
    border: 1px solid blue;
    margin-bottom: 10px;
}

.menu-4 div{
    height: 100%;
    border: 1px solid blue;
    margin-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
}

.menu-5{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1200px;
    background-color: deepskyblue;
    border: 1px solid blue;
    margin-bottom: 10px;
}

.menu-5 div{
    border: 1px solid blue;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
}

.menu-5 div:nth-child(3){
    border: 1px solid blue;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 5px;
    padding-left: 5px;
}

.menu-6{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 1200px;
    background-color: deepskyblue;
    border: 1px solid blue;
    margin-bottom: 10px;
}

.menu-6 div{
    border: 1px solid blue;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
}

.menu-6 div:nth-child(3){
    border: 1px solid blue;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 5px;
    padding-left: 5px;
}

.menu-7{
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    align-items: center;
    width: 1200px;
    background-color: deepskyblue;
    border: 1px solid blue;
    margin-bottom: 10px;
}

.menu-7 div{
    border: 1px solid blue;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
}

.menu-7 div:nth-child(3){
    border: 1px solid blue;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 5px;
    padding-left: 5px;
}

.menu-8{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap:wrap;
    flex-shrink: 0;
    width: 1200px;
    background-color: deepskyblue;
    border: 1px solid blue;
    margin-bottom: 10px;
    font-size: 30px;
}

.menu-8 div{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.menu-9{
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: deepskyblue;
    border: 1px solid blue;
    margin-bottom: 10px;
}

.menu-9 div{
    border: 1px solid blue;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
}