.flex-container li{
    list-style-type: none;
}

.flex-container{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    padding: 0px 0px;
    margin-bottom: 30px;
}

.flex-container .flex-item{
    padding: 60px 60px;
    margin: 2px 2px;
    background-color: orange;
}

.menu-1{
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: end;
    flex-wrap: wrap;
    padding: 0px 0px;
    margin-bottom: 30px;
    background-color: deepskyblue;
}

.menu-1 div{
    padding: 20px 40px;
    color: white;
}

.site{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin-bottom: 30px;
}

.site .header{
    background-color: blue;
    flex-basis: 90%;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 10px 10px;
}

.site .aside-1{
    background-color:purple;
    flex-basis: 200px;
    flex-grow: 1;
    flex-shrink: 0.2;
    padding: 10px 10px;
}

.site .aside-2{
    background-color: yellow;
    flex-basis: 200px;
    flex-grow: 1;
    flex-shrink: 0.2;
    padding: 10px 10px;
}

.site .body{
    background-color: cadetblue;
    padding: 10px 10px;
    flex-basis: 600px;
    flex-grow: 1;
    flex-shrink: 1;
}

.site .footer{
    flex-basis: 90%;
    background-color: orange;
    flex-grow: 1;
    flex-shrink: 0.6;
    padding: 10px 10px;
}

@media screen {
    .site-adaptive{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 80%;
    }

    .site-adaptive .header{
        background-color: blue;
        flex-basis: 90%;
        flex-grow: 1;
        flex-shrink: 0;
        padding: 10px 10px;
    }

    .site-adaptive .aside-1{
        background-color:purple;
        flex-basis: 200px;
        flex-grow: 1;
        flex-shrink: 0.2;
        padding: 10px 10px;
    }

    .site-adaptive .aside-2{
        background-color: yellow;
        flex-basis: 200px;
        flex-grow: 1;
        flex-shrink: 0.2;
        padding: 10px 10px;
    }

    .site-adaptive .body{
        background-color: cadetblue;
        padding: 10px 10px;
        flex-basis: 90%;
        flex-grow: 1;
        flex-shrink: 0.6;
    }

    .site-adaptive .footer{
        flex-basis: 90%;
        background-color: orange;
        flex-grow: 1;
        flex-shrink: 0.6;
        padding: 10px 10px;
    }
}

@media handheld{
    .site-adaptive{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 80%;
    }

    .site-adaptive .header{
        background-color: blue;
        flex-basis: 90%;
        flex-grow: 1;
        flex-shrink: 0;
        padding: 10px 10px;
    }

    .site-adaptive .aside-1{
        background-color:purple;
        flex-basis: 200px;
        flex-grow: 1;
        flex-shrink: 0.2;
        padding: 10px 10px;
    }

    .site-adaptive .aside-2{
        background-color: yellow;
        flex-basis: 200px;
        flex-grow: 1;
        flex-shrink: 0.2;
        padding: 10px 10px;
    }

    .site-adaptive .body{
        background-color: cadetblue;
        padding: 10px 10px;
        flex-basis: 90%;
        flex-grow: 1;
        flex-shrink: 0.6;
    }

    .site-adaptive .footer{
        flex-basis: 90%;
        background-color: orange;
        flex-grow: 1;
        flex-shrink: 0.6;
        padding: 10px 10px;
    }
}

